<% include ../partials/header %> 
     <!-- <% if(currentUser && currentUser.isAdmin) { %>
      <h3>You're an admin!</h3>
     <% } %> -->

     <header class="jumbotron">
         <div class="container">
             <h1><span class="glyphicon glyphicon-piggy-bank"></span> Welcome To MohaStock!</h1>
             <p>This is the best platform to get stock advice and prediction data in the world</p>
             <p>
                <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add New Stock Advice</a>
                <a class="btn btn-success btn-lg" href="http://localhost:8501/">Stock prediction</a>
             </p>
              <p>
              <form action="/campgrounds" method="GET" class="form-inline" id="campground-search">
                <div class="form-group">
                  <input type="text" name="search" placeholder="Stock search..." class="form-control">
                </div>
              </form>
             </p>
         </div>
     </header>
     
     <div class="row text-center flex-wrap" id="campground-grid">
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                   <img src="<%= campground.image %>">
                   <div class="caption">
                       <h4><%= campground.name %></h4>
                   </div>
                   <p>
                       <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
                   </p>
                </div>
            </div>
        <% }); %>
    </div>

<% include ../partials/footer %>
